# Neo4j
NEO4J_USER=USER
NEO4J_PASSWORD=PASSWORD

# LLM
LLM_API_KEY=API_KEY

# HuggingFace
HF_TOKEN=HF_TOKEN

# extraction-service
EXTRACTION_HOST=HOST
EXTRACTION_PORT=PORT

# graph-service
GRAPH_HOST=HOST
GRAPH_PORT=PORT

# inference-service
INFERENCE_HOST=HOST
INFERENCE_PORT=PORT

# ingestion-service
INGESTION_HOST=HOST
INGESTION_PORT=PORT